<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shengsu.website.bdapp.mapper.ComplaintMapper">
	<!-- Result Map-->
	<resultMap id="complaint_result_map" type="complaint">
	</resultMap>
	<sql id="base_column_list">
    	id,
    	complaint_id,
    	url,
    	name,
    	tel,
    	appeal
  	</sql>
	<!-- 查询条件 -->
	<sql id="complaint_where_clause">
		<where>
			del_flag = 0
			<if test="name != null and  name != ''"> and name = #{name}</if>
			<if test="tel != null and  tel != ''"> and tel like concat('%',#{tel},'%')</if>
			<if test="search != null and  search != ''">
				<bind name="pattern" value="search" />
				and concat(ifnull(name,''),ifnull(tel,'')) like concat('%',#{pattern},'%') escape'/'
			</if>
		</where>
	</sql>
	<insert id="save" parameterType="complaint">
		insert into complaint
		(
		complaint_id,
		url,
		name,
		tel,
		appeal,
		create_time,
		modify_time,
		del_flag
		)
		values(
		#{complaintId},
		#{url},
		#{name},
		#{tel},
		#{appeal},
		current_timestamp(),
		current_timestamp(),
		0
		)
	</insert>
</mapper>