<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shengsu.website.market.mapper.ComplaintMapper">
	<!-- Result Map-->
	<resultMap id="complaint_result_map" type="complaint">
	</resultMap>
	<sql id="base_column_list">
    	id,
    	complaint_id,
    	url,
    	name,
    	tel,
    	appeal,
    	complaint_type,
    	create_time
  	</sql>
	<!-- 查询条件 -->
	<sql id="complaint_where_clause">
		<where>
			del_flag = 0
			<if test="name != null and  name != ''"> and name = #{name}</if>
			<if test="tel != null and  tel != ''"> and tel like concat('%',#{tel},'%')</if>
			<if test="complaintType != null and  complaintType != ''"> and complaint_type = #{complaintType}</if>
			<if test="startTime != null and  startTime != ''">and create_time >= #{startTime,jdbcType=VARCHAR}</if>
			<if test="endTime != null and  endTime != ''">and  DATE_ADD(date_format(#{endTime,jdbcType=VARCHAR},"%Y-%m-%d"),interval 1 day) >=create_time</if>
			<if test="search != null and  search != ''">
				<bind name="pattern" value="search" />
				and concat(ifnull(name,''),ifnull(tel,'')) like concat('%',#{pattern},'%') escape'/'
			</if>
		</where>
	</sql>
	<insert id="save" parameterType="complaint">
		insert into complaint
		(
		complaint_id,
		url,
		name,
		tel,
		appeal,
		complaint_type,
		create_time,
		modify_time,
		del_flag
		)
		values(
		#{complaintId},
		#{url},
		#{name},
		#{tel},
		#{appeal},
		#{complaintType},
		current_timestamp(),
		current_timestamp(),
		0
		)
	</insert>
	<select id="countAll"  parameterType="complaint" resultType="int">
		select count(1) from complaint <include refid="complaint_where_clause" />
	</select>
	<select id="listByPage" parameterType="complaint" resultType="complaint">
		<include refid="global.paginationStart_mysql" />
		select <include refid="base_column_list"/> from complaint
		<include refid="complaint_where_clause" />
		order by modify_time desc
		<include refid="global.paginationEnd_mysql" />
	</select>
	<delete id="softDelete" parameterType="string">
		update complaint set del_flag = 1 where complaint_id=#{complaintId}
	</delete>
</mapper>