<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shengsu.website.bdapp.mapper.FeedbackMapper">
	<!-- Result Map-->
	<resultMap id="feedback_result_map" type="feedback">
	</resultMap>
	<sql id="base_column_list">
    	id,
    	feedback_id,
    	suggestion,
    	tel,
    	create_time
  	</sql>
	<!-- 查询条件 -->
	<sql id="feedback_where_clause">
		<where>
			del_flag = 0
			<if test="suggestion != null and  suggestion != ''"> and suggestion = #{suggestion}</if>
			<if test="tel != null and  tel != ''"> and tel like concat('%',#{tel},'%')</if>
			<if test="search != null and  search != ''">
				<bind name="pattern" value="search" />
				and concat(ifnull(suggestion,'')) like concat('%',#{pattern},'%') escape'/'
			</if>
		</where>
	</sql>
	<insert id="save" parameterType="feedback">
		insert into feedback
		(
		feedback_id,
		suggestion,
		tel,
		create_time,
		modify_time,
		del_flag
		)
		values(
		#{feedbackId},
		#{suggestion},
		#{tel},
		current_timestamp(),
		current_timestamp(),
		0
		)
	</insert>
	<select id="countAll"  parameterType="feedback" resultType="int">
		select count(1) from feedback <include refid="feedback_where_clause" />
	</select>
	<select id="listByPage" parameterType="feedback" resultType="feedback">
		<include refid="global.paginationStart_mysql" />
		select <include refid="base_column_list"/> from feedback
		<include refid="feedback_where_clause" />
		order by modify_time desc
		<include refid="global.paginationEnd_mysql" />
	</select>
	<delete id="softDelete" parameterType="string">
		update feedback set del_flag = 1 where feedback_id=#{feedbackId}
	</delete>
</mapper>