<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shengsu.website.market.mapper.LawDocMapper">
	<!-- Result Map-->
	<resultMap id="law_doc_result_map" type="lawDoc">
	</resultMap>
	<sql id="base_column_list">
    	doc_id,
    	doc_type,
    	doc_subtype,
    	doc_name,
    	full_name,
    	oss_resource_id,
    	downloads,
    	upload_time
  	</sql>
	<!-- 查询条件 -->
	<sql id="law_doc_where_clause">
		<where>
			del_flag = 0
			<if test="docType != null and  docType != ''"> and doc_type = #{docType}</if>
			<if test="docSubtype != null and  docSubtype != ''"> and doc_subtype = #{docSubtype}</if>
			<if test="docName != null and  docName != ''"> and doc_name = #{docName}</if>
			<if test="fullName != null and  fullName != ''"> and full_name = #{fullName}</if>
			<if test="search != null and  search != ''">
				<bind name="pattern" value="search" />
				and concat(ifnull(doc_name,''),ifnull(full_name,'')) like concat('%',#{pattern},'%') escape'/'
			</if>
		</where>
	</sql>
	<insert id="save" parameterType="lawDoc">
		insert into law_doc
		(
		doc_id,
    	doc_type,
    	doc_subtype,
    	doc_name,
    	full_name,
    	oss_resource_id,
    	upload_time,
		create_time,
		modify_time,
		del_flag
		)
		values(
		#{docId},
		#{docType},
		#{docSubtype},
		#{docName},
		#{fullName},
		#{ossResourceId},
		#{uploadTime},
		current_timestamp(),
		current_timestamp(),
		0
		)
	</insert>
	<insert id="batchSave" parameterType="java.util.List">
		insert into
		law_doc
		(
			doc_id,
			doc_type,
			doc_subtype,
			doc_name,
			full_name,
			oss_resource_id,
			upload_time,
			create_time,
			modify_time
		)
		<foreach collection="list" item="item" index="index" separator="union all">
			(
			select
			#{item.docId},
			#{item.docType},
			#{item.docSubtype},
			#{item.docName},
			#{item.fullName},
			#{item.ossResourceId},
			#{item.uploadTime},
			current_timestamp(),
			current_timestamp()
			from
			dual
			)
		</foreach>
	</insert>
	<select id="selectByFullName" parameterType="string" resultType="lawDoc">
		select <include refid="base_column_list"/> from  law_doc where full_name = #{fullName} and del_flag = 0 limit 1
	</select>
	<select id="selectByDocId" parameterType="string" resultType="lawDoc">
		select <include refid="base_column_list"/> from  law_doc where doc_id = #{docId} and del_flag = 0 limit 1
	</select>
	<update id="softDelete" parameterType="string">
		update law_doc set del_flag = 1 where doc_id = #{docId}
	</update>
	<update id="update" parameterType="lawDoc">
		update law_doc set
		doc_type = #{docType},
		doc_subtype = #{docSubtype},
		doc_name = #{docName},
		full_name = #{fullName},
		oss_resource_id = #{ossResourceId},
		upload_time = #{uploadTime},
		modify_time = current_timestamp()
		where doc_id = #{docId} and del_flag = 0
	</update>
	<select id="countLawDocByPage"  parameterType="lawDoc" resultType="int">
		select count(1) from law_doc  <include refid="law_doc_where_clause" />
	</select>
	<select id="selectLawDocByPage" parameterType="lawDoc" resultType="lawDoc">
		<include refid="global.paginationStart_mysql" />
		select <include refid="base_column_list"/> from law_doc
		<include refid="law_doc_where_clause" />
		order by upload_time desc
		<include refid="global.paginationEnd_mysql" />
	</select>
	<select id="selectPreviousLawDoc" parameterType="lawDoc" resultType="lawDoc">
		select doc_id,doc_name from law_doc where del_flag = 0 and  upload_time>#{uploadTime}
		<if test="docType!=null and docType!=''">
			and doc_type = #{docType}
		</if>
		order by upload_time limit 1
	</select>
	<select id="selectNextLawDoc" parameterType="lawDoc" resultType="lawDoc">
		select doc_id,doc_name from law_doc where del_flag = 0 and upload_time &lt; #{uploadTime}
		<if test="docType!=null and docType!=''">
			and doc_type = #{docType}
		</if>
		order by upload_time desc limit 1
	</select>
	<update id="updateDownloads" parameterType="string">
		update law_doc set downloads = downloads+1 where doc_id = #{docId}
	</update>
	<select id="existCheckExceptSelf" parameterType="lawDoc" resultType="int">
		select
			count(1)
		from
			law_doc
		where
			del_flag = 0 and
			full_name=#{fullName} and
			doc_id != #{docId}
	</select>
	<select id="getManyByDocType" parameterType="string" resultType="lawDoc">
		select <include refid="base_column_list"/> from  law_doc where doc_type = #{docType} and del_flag = 0
	</select>
</mapper>