<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shengsu.website.bdapp.mapper.LawKnowledgeMapper">
	<!-- Result Map-->
	<resultMap id="lawknowledge_result_map" type="lawKnowledge">
	</resultMap>
	<sql id="base_column_list">
    	id,
    	knowledge_id,
    	first_category_id,
    	second_category_id,
    	third_category_id,
    	title,
    	content,
    	date_time,
    	source,
    	pv,
    	picture_oss_id
  	</sql>
	<!-- 查询条件 -->
	<sql id="lawknowledge_where_clause">
		<where>
			del_flag = 0
			<if test="firstCategoryId != null and  firstCategoryId != ''">
				and first_category_id = #{firstCategoryId}
			</if>
			<if test="secondCategoryId != null and  secondCategoryId != ''">
				and second_category_id = #{secondCategoryId}
			</if>
			<if test="thirdCategoryId != null and  thirdCategoryId != ''">
			 and third_category_id = #{thirdCategoryId}
			</if>
			<if test="title!=null">
				AND title LIKE concat('%',#{title},'%')
			</if>
		</where>
	</sql>
	<insert id="save" parameterType="lawKnowledge">
		insert into law_knowledge(
		knowledge_id,
		first_category_id,
		second_category_id,
		third_category_id,
		title,
		content,
		date_time,
		source,
		create_time,
		modify_time
		)
		values(
		#{knowledgeId},
		#{firstCategoryId},
		#{secondCategoryId},
		#{thirdCategoryId},
		#{title},
		#{content},
		#{dateTime},
		#{source},
		current_timestamp(),
		current_timestamp()
		)
	</insert>
	<update id="delete" parameterType="string">
		update law_knowledge set del_flag = 1 where knowledge_id = #{knowledgeId}
	</update>
	<update id="update" parameterType="lawKnowledge">
		update law_knowledge set
		first_category_id = #{firstCategoryId},
		second_category_id = #{secondCategoryId},
		third_category_id = #{thirdCategoryId},
		title = #{title},
		content = #{content},
		date_time = #{dateTime},
		source=#{source},
		modify_time = current_timestamp()
		where knowledge_id = #{knowledgeId}
	</update>
	<select id="countAll"  parameterType="lawKnowledge" resultType="int">
		select count(1) from law_knowledge <include refid="lawknowledge_where_clause" />
	</select>
	<select id="listByPage" parameterType="lawKnowledge" resultType="lawKnowledge">
		<include refid="global.paginationStart_mysql" />
		select knowledge_id,first_category_id,second_category_id,third_category_id,title,date_time from law_knowledge
		<include refid="lawknowledge_where_clause" />
		order by date_time desc
		<include refid="global.paginationEnd_mysql" />
	</select>
	<update id="updatePv" parameterType="string">
		update law_knowledge set pv = pv+1 where knowledge_id = #{knowledgeId}
	</update>
	<select id="selectByKnowledgeId" parameterType="string" resultType="lawKnowledge">
		select <include refid="base_column_list"/> from  law_knowledge where knowledge_id = #{knowledgeId} and del_flag = 0 limit 1
	</select>
	<select id="selectPreviousLawKnowledge" parameterType="lawKnowledge" resultType="lawKnowledge">
		select knowledge_id,title from law_knowledge where del_flag = 0 and  date_time > #{dateTime}
		<if test="thirdCategoryId!=null and thirdCategoryId !='' ">
			and third_category_id = #{thirdCategoryId}
		</if>
		<if test="thirdCategoryId =='' and secondCategoryId !='' ">
			and second_category_id = #{secondCategoryId} and third_category_id = ''
		</if>
		<if test="thirdCategoryId =='' and secondCategoryId =='' and firstCategoryId !='' ">
			and first_category_id = #{firstCategoryId} and second_category_id = '' and third_category_id = ''
		</if>
		order by date_time limit 1
	</select>
	<select id="selectNextLawKnowledge" parameterType="lawKnowledge" resultType="lawKnowledge">
		select knowledge_id,title from law_knowledge where del_flag = 0 and date_time &lt; #{dateTime}
		<if test="thirdCategoryId!=null and thirdCategoryId !='' ">
			and third_category_id = #{thirdCategoryId}
		</if>
		<if test="thirdCategoryId =='' and secondCategoryId !='' ">
			and second_category_id = #{secondCategoryId} and third_category_id = ''
		</if>
		<if test="thirdCategoryId =='' and secondCategoryId =='' and firstCategoryId !='' ">
			and first_category_id = #{firstCategoryId} and second_category_id = '' and third_category_id = ''
		</if>
		order by date_time desc limit 1
	</select>
    <select id="getLatestThree" resultType="lawKnowledge">
        select knowledge_id,title,first_category_id,second_category_id,third_category_id,picture_oss_id,date_time from law_knowledge where del_flag = 0 order by date_time desc limit 3
    </select>
	<select id="getAllTitle" resultType="lawKnowledge">
        select knowledge_id ,title from law_knowledge where del_flag = 0
    </select>
	<select id="listPageThirdNotNull" parameterType="lawKnowledge" resultType="lawKnowledge">
		<include refid="global.paginationStart_mysql" />
			select
				knowledge_id,title,date_time
			from
				law_knowledge
			where
				del_flag = 0
				and first_category_id = #{firstCategoryId}
				and second_category_id = #{secondCategoryId}
				and (third_category_id = #{thirdCategoryId}
				or third_category_id = '')
		  	union all
			  select
					knowledge_id,title,date_time
				from
					law_knowledge
				where
					del_flag = 0
					and first_category_id = #{firstCategoryId}
					and second_category_id = ''
			order by date_time desc
		<include refid="global.paginationEnd_mysql" />
	</select>
	<select id="countThirdNotNull"  parameterType="lawKnowledge" resultType="int">
		select
			count(1)
		from
			( select
				knowledge_id,title
			  from
			  	law_knowledge
			  where
			  	del_flag = 0
			  	and first_category_id = #{firstCategoryId}
			  	and second_category_id = #{secondCategoryId}
			  	and (third_category_id = #{thirdCategoryId}
			  	 or third_category_id='')
			  union all
			  	select
			  	 	knowledge_id,title
			  	from
			  		law_knowledge
			  	where
			  		del_flag = 0
			  		and first_category_id = #{firstCategoryId}
			  		and second_category_id = '')knowledge
	</select>
	<select id="listPageSecondNotNull" parameterType="lawKnowledge" resultType="lawKnowledge">
		<include refid="global.paginationStart_mysql" />
			select
				knowledge_id,title
			from
				law_knowledge
			where
				del_flag = 0
				and first_category_id = #{firstCategoryId}
				and (second_category_id = #{secondCategoryId}
				or	second_category_id='')
				order by date_time desc
		<include refid="global.paginationEnd_mysql" />
	</select>
	<select id="countSecondNotNull"  parameterType="lawKnowledge" resultType="int">
		select
			count(1)
		from
			law_knowledge
		where
			del_flag = 0
		  	and first_category_id = #{firstCategoryId}
		  	and (second_category_id = #{secondCategoryId}
		  	 or second_category_id='')
	</select>
	<select id="listPageFirstNotNull" parameterType="lawKnowledge" resultType="lawKnowledge">
		<include refid="global.paginationStart_mysql" />
		select
			knowledge_id,title
		from
			law_knowledge
		where
			del_flag = 0
			and first_category_id = #{firstCategoryId}
			order by date_time desc
		<include refid="global.paginationEnd_mysql" />
	</select>
	<select id="countFirstNotNull"  parameterType="lawKnowledge" resultType="int">
		select
			count(1)
		from
			law_knowledge
		where
			del_flag = 0
			and first_category_id = #{firstCategoryId}
	</select>
	<select id="selectThirdPreviousLawKnowledge" parameterType="lawKnowledge" resultType="lawKnowledge">
		select
			knowledge_id,title
		from
			law_knowledge
		where
			del_flag = 0
			and  date_time > #{dateTime}
			and third_category_id = #{thirdCategoryId}
			order by date_time limit 1
	</select>
	<select id="selectSecondPreviousLawKnowledge" parameterType="lawKnowledge" resultType="lawKnowledge">
		select
			knowledge_id,title
		from
			law_knowledge
		where
			del_flag = 0
			and  date_time > #{dateTime}
			and  second_category_id = #{secondCategoryId}
			and third_category_id = ''
			order by date_time limit 1
	</select>
	<select id="selectFirstPreviousLawKnowledge" parameterType="lawKnowledge" resultType="lawKnowledge">
		select
			knowledge_id,title
		from
			law_knowledge
		where
			del_flag = 0
			and  date_time > #{dateTime}
			and  first_category_id = #{firstCategoryId}
			and second_category_id = ''
			and third_category_id = ''
			order by date_time limit 1
	</select>
	<select id="selectThirdNextLawKnowledge" parameterType="lawKnowledge" resultType="lawKnowledge">
		select
			knowledge_id,title
		from
			law_knowledge
		where
			del_flag = 0
			and  date_time &lt; #{dateTime}
			and third_category_id = #{thirdCategoryId}
			order by date_time desc limit 1
	</select>
	<select id="selectSecondNextLawKnowledge" parameterType="lawKnowledge" resultType="lawKnowledge">
		select
			knowledge_id,title
		from
			law_knowledge
		where
			del_flag = 0
			and  date_time &lt; #{dateTime}
			and  second_category_id = #{secondCategoryId}
			and third_category_id = ''
			order by date_time desc limit 1
	</select>
	<select id="selectFirstNextLawKnowledge" parameterType="lawKnowledge" resultType="lawKnowledge">
		select
			knowledge_id,title
		from
			law_knowledge
		where
			del_flag = 0
			and  date_time &lt; #{dateTime}
			and  first_category_id = #{firstCategoryId}
			and second_category_id = ''
			and third_category_id = ''
			order by date_time desc limit 1
	</select>
	<select id="selectByTitle" parameterType="string" resultType="lawKnowledge">
		select <include refid="base_column_list"/> from  law_knowledge where title = #{title} and del_flag = 0 limit 1
	</select>
</mapper>