<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shengsu.website.market.mapper.LawyerMapper">
    <resultMap id="BaseResultMap" type="Lawyer">
    </resultMap>
    <sql id="Base_Column_List">
    id, lawyer_id, lawyer_name, icon_oss_resource_id, field, create_time, modify_time,price,rank,praise_times,consult_times,del_flag
    </sql>
    <sql id="lawyer_where_clause">
        <where>
            del_flag = 0
            <if test="rank != null and  rank != ''">
                and rank like concat('%',#{rank},'%')
            </if>
            <if test="lawyerName != null and  lawyerName != ''">
                and lawyer_name like concat('%',#{lawyerName},'%')
            </if>
        </where>
    </sql>
    <insert id="save" parameterType="Lawyer">
    insert into lawyer (
      lawyer_id,
      lawyer_name,
      icon_oss_resource_id,
      field,
      create_time,
      modify_time,
      price,
      rank,
      praise_times,
      consult_times)
    values (
    #{lawyerId,jdbcType=VARCHAR},
    #{lawyerName,jdbcType=VARCHAR},
    #{iconOssResourceId,jdbcType=VARCHAR},
    #{field,jdbcType=VARCHAR},
    current_timestamp(),
    current_timestamp(),
    #{price},
    #{rank},
    #{praiseTimes,jdbcType=VARCHAR},
    #{consultTimes,jdbcType=VARCHAR}
    )
  </insert>
    <delete id="delete" parameterType="String">
        UPDATE lawyer
        SET del_flag = 1
        WHERE
	    lawyer_id = #{lawyerId}
    </delete>
    <update id="update" parameterType="lawyer">
        UPDATE lawyer
        SET
        lawyer_name = #{lawyerName,jdbcType=VARCHAR},
        field = #{field,jdbcType=VARCHAR},
        price = #{price},
        rank = #{rank},
        praise_times = #{praiseTimes,jdbcType=VARCHAR},
        consult_times = #{consultTimes,jdbcType=VARCHAR},
        modify_time = current_timestamp()
        WHERE del_flag=0 and lawyer_id = #{lawyerId}
    </update>
    <select id="get" parameterType="String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from lawyer
        where del_flag = 0 and lawyer_id = #{lawyerId,jdbcType=INTEGER}
    </select>
    <select id="listAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from lawyer
        where del_flag = 0
    </select>
    <select id="listByPage" parameterType="lawyer" resultMap="BaseResultMap">
        <include refid="global.paginationStart_mysql"/>
        select
        *
        from lawyer
        <include refid="lawyer_where_clause"/>
        order by modify_time desc
        <include refid="global.paginationEnd_mysql"/>
    </select>
    <select id="getMany" parameterType="list" resultType="lawyer">
        select
        *
        from
        lawyer
        where del_flag = 0 and lawyer_id in
        <foreach collection="list" item="item" open="(" close=") " separator=",">
            #{item}
        </foreach>
        order by
        create_time DESC
    </select>
    <select id="randomSelect" resultType="Lawyer">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
	    lawyer
	    where del_flag = 0
        order by rand()
        LIMIT 3
    </select>
    <select id="countAll" parameterType="lawyer" resultType="int">
        select
        count(1)
        from
        lawyer
        <include refid="lawyer_where_clause"/>
    </select>
    <select id="isLawyerExist" parameterType="String" resultType="int">
        select
        count(*)
        from lawyer
        where del_flag = 0 and lawyer_name = #{lawyerName}
    </select>
    <select id="isLawyerExistOther" parameterType="lawyer" resultType="int">
        select
        count(*)
        from lawyer
        where del_flag = 0 and lawyer_name = #{lawyerName}
            and lawyer_id not in ( #{lawyerId} )
    </select>
</mapper>