<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shengsu.website.market.mapper.QuestionMapper">
    <resultMap id="BaseResultMap" type="Question">
    </resultMap>
    <sql id="Base_Column_List">
    id, question_id, question_content, question_time, create_time, modify_time, del_flag
  </sql>

    <sql id="question_where_clause">
        <where>
            del_flag = 0
            <if test="questionContent != null and  questionContent != ''">
                and question_content like concat('%',#{questionContent},'%')
            </if>
        </where>
    </sql>

    <insert id="save" parameterType="question">
        INSERT INTO question (
            question_id,
            question_content,
            question_time,
            create_time,
            modify_time
        )
        VALUES(
            #{questionId},
            #{questionContent},
            current_timestamp(),
            current_timestamp(),
            current_timestamp()
        )
    </insert>
    <delete id="delete" parameterType="String">
    UPDATE question
    set del_flag = 1
    where question_id = #{questionId}
  </delete>
    <update id="update" parameterType="Question">
    update question
    set
      question_content = #{questionContent,jdbcType=VARCHAR}
    where del_flag = 0 and question_id = #{questionId}
  </update>
    <select id="get" parameterType="String" resultType="Question">
        select
        <include refid="Base_Column_List"/>
        from question
        where del_flag = 0 and question_id = #{questionId}
    </select>
    <select id="isQuestionExist" parameterType="String" resultType="int">
        select
        count(*)
        from question
        where del_flag = 0 and question_content = #{questionContent}
    </select>
    <select id="listAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from question
        where del_flag = 0
    </select>
    <select id="listByPage" parameterType="question" resultMap="BaseResultMap">
        <include refid="global.paginationStart_mysql"/>
        select
        *
        from question
        <include refid="question_where_clause"/>
        order by modify_time desc
        <include refid="global.paginationEnd_mysql"/>
    </select>
    <select id="getMany" parameterType="list" resultType="question">
        select
        *
        from
        question
        where del_flag = 0 and question_id in
        <foreach collection="list" item="item" open="(" close=") " separator=",">
            #{item}
        </foreach>
        order by
        create_time DESC
    </select>
    <select id="countAllByQuestionIds" parameterType="list" resultType="int">
        select
        count(1)
        from
        question
        where del_flag = 0 and question_id in
        <foreach collection="list" item="item" open="(" close=") " separator=",">
            #{item}
        </foreach>
    </select>
    <select id="countAll" parameterType="question" resultType="int">
        select
        count(1)
        from
        question
        <include refid="question_where_clause"/>
    </select>
    <select id="isQuestionExistOther" parameterType="Question" resultType="int">
        select
        count(*)
        from question
        where del_flag = 0 and question_content = #{questionContent}
            and question_id not in ( #{questionId} )
    </select>

</mapper>