<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shengsu.any.account.mapper.AccountRecordMapper">
	<!-- Result Map-->
	<resultMap id="account_record_result_map" type="accountRecord">
	</resultMap>
	<select id="listIncome" parameterType="string" resultType="accountRecord">
		select * from account_record where user_id=#{userId} and action_type = 'recharge' order by modify_time desc
	</select>
	<select id="listExpend" parameterType="string" resultType="accountRecord">
		select * from account_record where user_id=#{userId} and action_type in ('buy_clue','cash_out')
	</select>
</mapper>