<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shengsu.any.account.mapper.AccountRecordMapper">
	<!-- Result Map-->
	<resultMap id="account_record_result_map" type="accountRecord">
	</resultMap>
	<!-- 查询条件 -->
	<sql id="account_record_where_clause">
		<where>
			del_flag = 0
			<if test="userId != null and  userId != ''"> and user_id= #{userId}</if>
			<if test="source != null and  source != ''"> and source= #{source}</if>
			<if test="startTime != null and  startTime != ''">and create_time >= #{startTime,jdbcType=VARCHAR}</if>
			<if test="endTime != null and  endTime != ''">and  DATE_ADD(date_format(#{endTime,jdbcType=VARCHAR},"%Y-%m-%d"),interval 1 day) >=create_time</if>
		</where>
	</sql>
	<select id="listIncome" parameterType="string" resultType="accountRecord">
		select * from account_record where user_id=#{userId} and action_type = 'recharge' and del_flag='0' order by modify_time desc
	</select>
	<select id="listExpend" parameterType="string" resultType="accountRecord">
		select * from account_record where user_id=#{userId} and del_flag='0' and action_type in ('buy_clue','cash_out')
	</select>
	<select id="listByPage" parameterType="com.shengsu.any.account.vo.AccountDetailListByPageVo" resultType="accountRecord">
		<include refid="global.paginationStart_mysql" />
		select
		*
		from account_record
		<include refid="account_record_where_clause" />
		order by create_time desc
		<include refid="global.paginationEnd_mysql" />
	</select>
	<select id="countAll" parameterType="com.shengsu.any.account.vo.AccountDetailListByPageVo" resultType="int">
		select
		count(1)
		from account_record
		<include refid="account_record_where_clause" />
	</select>
	<select id="totalIncome" parameterType = "com.shengsu.any.account.vo.AccounListByPageVo" resultType="com.shengsu.any.account.po.TotalIncomePo">
		select user_id,SUM(amount) AS totalIncome
		from account_record
		where del_flag = 0
		<if test="userId != null and  userId != ''"> and user_id= #{userId}</if>
		and action_type='recharge'
		group by user_id
	</select>
	<select id="totalExpend" parameterType = "com.shengsu.any.account.vo.AccounListByPageVo" resultType="com.shengsu.any.account.po.TotalExpendPo">
		select user_id ,SUM(amount) AS totalExpend
		from account_record
		where del_flag = 0
		<if test="userId != null and  userId != ''"> and user_id= #{userId}</if>
		and action_type in ('buy_clue','cash_out')
		group by user_id
	</select>
	<insert id="save" parameterType="accountRecord">
		insert into account_record
		(
			record_id,
			clue_id,
			user_id,
			amount,
			source,
			before_balance,
			after_balance,
			action_type,
			creator,
			remark,
			create_time,
			modify_time
			  )
			values
			(
			#{recordId,jdbcType=VARCHAR},
			#{clueId,jdbcType=VARCHAR},
			#{userId,jdbcType=VARCHAR},
			#{amount,jdbcType=DECIMAL},
			#{source,jdbcType=VARCHAR},
			#{beforeBalance,jdbcType=DECIMAL},
			#{afterBalance,jdbcType=DECIMAL},
			#{actionType,jdbcType=VARCHAR},
			#{creator,jdbcType=VARCHAR},
			#{remark,jdbcType=VARCHAR},
			current_Timestamp(),
			current_Timestamp()
		  )
	</insert>
	<select id="get" parameterType="string" resultType="accountRecord">
		select * from account_record where del_flag = 0 and record_id = #{recordId}
	</select>
	<select id="getManyByUserId" parameterType = "string" resultType="accountRecord">
		select * from account_record
		where del_flag = 0 and
		action_type in ('recharge','cash_out') and
		user_id = #{userId}
		order by create_time desc
	</select>
	<select id="historyRecharge" parameterType = "com.shengsu.any.account.vo.RichesListByPageVo" resultType="com.shengsu.any.account.po.TotalIncomePo">
		select user_id,SUM(amount) AS totalIncome
		from account_record
		where del_flag = 0
		<if test="userId != null and  userId != ''"> and user_id= #{userId}</if>
		and action_type='recharge'
		group by user_id
	</select>
</mapper>