<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shengsu.any.account.mapper.AccountMapper">
	<!-- Result Map-->
	<resultMap id="account_result_map" type="account">
	</resultMap>
	<insert id="save" parameterType="account">
		insert into account
		(
			account_id,
			user_id,
			balance,
			create_time,
			modify_time
			  )
			values
			(
			#{accountId,jdbcType=VARCHAR},
			#{userId,jdbcType=VARCHAR},
			#{balance,jdbcType=DECIMAL},
			current_Timestamp(),
			current_Timestamp()
		  )
	</insert>
	<select id="getAccountBalance" parameterType="string" resultType="Decimal">
		select balance from account where del_flag = 0 and  user_id=#{userId}
	</select>
	<update id="updateBalanceByUserId" parameterType="account">
		update account
		set
		  balance = #{balance,jdbcType=VARCHAR},
		  modify_time = current_Timestamp()
		where user_id = #{userId}
    </update>
	<select id="getByUserId" parameterType="string" resultType="account">
		select * from account where del_flag = 0 and  user_id=#{userId}
	</select>
	<select id="countAccountAll" parameterType="com.shengsu.any.account.vo.AccounListByPageVo" resultType="int">
		select count(1) from account
		where del_flag = 0
		<if test="userId != null and  userId != ''"> and user_id= #{userId}</if>
	</select>
	<!-- 获取用户信息列表 -->
	<select id="listAccountByPage" parameterType="com.shengsu.any.account.vo.AccounListByPageVo" resultType="account">
		<include refid="global.paginationStart_mysql" />
		select *
		from account
		where del_flag = 0
		<if test="userId != null and  userId != ''"> and user_id= #{userId}</if>
		order by create_time desc
		<include refid="global.paginationEnd_mysql" />
	</select>
	<select id="countRichesAll" parameterType="com.shengsu.any.account.vo.RichesListByPageVo" resultType="int">
		select count(1) from account
		where del_flag = 0
		<if test="userId != null and  userId != ''"> and user_id= #{userId}</if>
	</select>
	<!-- 获取用户信息列表 -->
	<select id="listRichesByPage" parameterType="com.shengsu.any.account.vo.RichesListByPageVo" resultType="account">
		<include refid="global.paginationStart_mysql" />
		select *
		from account
		where del_flag = 0
		<if test="userId != null and  userId != ''"> and user_id= #{userId}</if>
		order by create_time desc
		<include refid="global.paginationEnd_mysql" />
	</select>
	<update id="updateBalanceByAccountId" parameterType="account">
		update account
		set
		  balance = #{balance,jdbcType=VARCHAR},
		  modify_time = current_Timestamp()
		where account_id = #{accountId}
    </update>
	<select id="get" parameterType="string" resultType="account">
		select * from account where del_flag = 0 and  account_id=#{accountId}
	</select>
</mapper>