<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shengsu.any.account.mapper.PayOrderMapper">
	<!-- Result Map-->
	<resultMap id="pay_order_result_map" type="payOrder">
	</resultMap>
	<insert id="save" parameterType="payOrder">
		insert into pay_order
		(
			account_id,
			order_no,
			prepay_id,
			amount,
			pay_type,
			status,
			order_time,
			create_time,
			modify_time
			  )
			values
			(
			#{accountId,jdbcType=VARCHAR},
			#{orderNo,jdbcType=VARCHAR},
			#{prepayId,jdbcType=VARCHAR},
			#{amount,jdbcType=DECIMAL},
			#{payType,jdbcType=VARCHAR},
			#{status,jdbcType=VARCHAR},
			current_Timestamp(),
			current_Timestamp(),
			current_Timestamp()
		  )
	</insert>
	<update id="updateOrder" parameterType="payOrder">
		update pay_order set status = #{status},transaction_id = #{transactionId},complete_time = #{completeTime} where order_no=#{orderNo}
	</update>
	<select id="getByOrderNo" parameterType="string" resultType="payOrder">
		select * from pay_order where del_flag = 0 and order_no=#{orderNo}
	</select>
</mapper>