<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shengsu.any.clue.mapper.ClueMapper">
    <!-- Result Map-->
    <resultMap id="clue_result_map" type="clue">
    </resultMap>
    <!--    查询条件-->
    <sql id="clue_where_clause">
        <where>
            del_flag = 0
            <if test="provinceCode != null and  provinceCode != ''">
                and province_code=#{provinceCode}
            </if>
            <if test="cityCode != null and  cityCode != ''">
                and city_code=#{cityCode}
            </if>
            <if test="districtCode != null and  districtCode != ''">
                and district_code=#{districtCode}
            </if>
            <if test="tel != null and  tel != ''">
                and tel like concat('%',#{tel},'%')
            </if>
            <if test="clueType != null and  clueType != ''">
                and clue_type=#{clueType}
            </if>
            <if test="clueState != null and  clueState != ''">
                and clue_state=#{clueState}
            </if>
            <if test="onshelfStartTime != null and  onshelfStartTime != ''">
                and b.onshelf_time >= #{onshelfStartTime}
            </if>
            <if test="onshelfEndTime != null and  onshelfEndTime != ''">
                and DATE_ADD(date_format(#{onshelfEndTime,jdbcType=VARCHAR},"%Y-%m-%d %H:%i:%s"),interval 1 day) >=
                b.onshelf_time
            </if>
            <if test="offshelfStartTime != null and  offshelfStartTime != ''">
                and b.offshelf_time>=#{offshelfStartTime}
            </if>
            <if test="offshelfEndTime != null and  offshelfEndTime != ''">
                and DATE_ADD(date_format(#{offshelfEndTime,jdbcType=VARCHAR},"%Y-%m-%d %H:%i:%s"),interval 1 day) >= b.offshelf_time
            </if>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, clue_code, clue_id, province_code, city_code, district_code, appellation, clue_type, customer_demands,
    tel, clue_price, clue_state, onshelf_time, offshelf_time, create_time, modify_time,
    del_flag
  </sql>
    <insert id="save" parameterType="Clue">
    insert into clue
    (
    clue_id,
    clue_code,
    province_code,
    city_code,
    district_code,
    appellation,
    clue_type,
    customer_demands,
    tel,
    clue_price,
    clue_state,
    create_time,
    modify_time,
    del_flag
      )
    values
    (
    #{clueId,jdbcType=VARCHAR},
    #{clueCode,jdbcType=VARCHAR},
    #{provinceCode,jdbcType=VARCHAR},
    #{cityCode,jdbcType=VARCHAR},
    #{districtCode,jdbcType=VARCHAR},
    #{appellation,jdbcType=VARCHAR},
    #{clueType,jdbcType=VARCHAR},
    #{customerDemands,jdbcType=VARCHAR},
    #{tel,jdbcType=VARCHAR},
    #{cluePrice,jdbcType=DECIMAL},
    #{clueState,jdbcType=DECIMAL},
    current_Timestamp(),
    current_Timestamp(),
    0
      )
  </insert>
    <select id="listByPage" parameterType="com.shengsu.any.clue.vo.ClueListByPageVo" resultType="Clue">
        <include refid="global.paginationStart_mysql"/>
        select
        <include refid="Base_Column_List"/>
        from clue b
        <include refid="clue_where_clause"/>
        order by
        create_time DESC
        <include refid="global.paginationEnd_mysql"/>
    </select>
    <select id="clueClientListByPage" parameterType="com.shengsu.any.clue.vo.ClueListByPageVo" resultType="Clue">
        <include refid="global.paginationStart_mysql"/>
        select
        <include refid="Base_Column_List"/>
        from clue b
        <include refid="clue_where_clause"/>
        order by
        onshelf_time DESC
        <include refid="global.paginationEnd_mysql"/>
    </select>
    <select id="getClueState" parameterType="String" resultType="String">
        select
        clue_state
        from clue
        where clue_id = #{clueId,jdbcType=VARCHAR}
    </select>

    <update id="update" parameterType="Clue">
    update clue
    set
      province_code = #{provinceCode,jdbcType=VARCHAR},
      city_code = #{cityCode,jdbcType=VARCHAR},
      district_code = #{districtCode,jdbcType=VARCHAR},
      appellation = #{appellation,jdbcType=VARCHAR},
      clue_type = #{clueType,jdbcType=VARCHAR},
      customer_demands = #{customerDemands,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      clue_price = #{cluePrice,jdbcType=DECIMAL},
      modify_time = current_Timestamp()
    where clue_id = #{clueId,jdbcType=VARCHAR}
    </update>
    <update id="onShelf" parameterType="String">
    update clue
    set
      onshelf_time = current_timestamp(),
      clue_state = #{clueState,jdbcType=DECIMAL}
    where clue_id = #{clueId,jdbcType=VARCHAR}
    </update>

    <update id="offShelf" parameterType="String">
    update clue
    set
      offshelf_time = current_timestamp(),
      clue_state = #{clueState,jdbcType=DECIMAL}
    where clue_id = #{clueId,jdbcType=VARCHAR}
    </update>

    <select id="countAll" parameterType="com.shengsu.any.clue.vo.ClueListByPageVo" resultType="int">
        select
        count(1)
        from
        clue b
        <include refid="clue_where_clause"/>
     </select>
    <update id="softDelete" parameterType="String">
		update
			clue
		set
			del_flag=1
		where
			clue_id = #{clueId,jdbcType=VARCHAR}
	</update>
    <select id="get" parameterType="string" resultType="clue">
		select * from clue where clue_id = #{clueId}
	</select>
    <select id="getMany" parameterType="list" resultType="clue">
        select
        *
        from
        clue
        where clue_id in
        <foreach collection="list" item="item" open="(" close=") " separator=",">
            #{item}
        </foreach>
        order by
        create_time DESC
    </select>
    <update id="updateClueSold" parameterType="string">
        update clue set clue_state = 'sold' where clue_id = #{clueId}
    </update>
    <update id="updateClueTelX" parameterType="clue">
         update clue set telX = #{telX} where clue_id = #{clueId}
    </update>
</mapper>