<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shengsu.any.clue.mapper.CluePersonalMapper">
	<!-- Result Map-->
	<resultMap id="clue_personal_result_map" type="cluePersonal">
	</resultMap>
	<insert id="save" parameterType="cluePersonal">
		insert into
		clue_personal
		(
			clue_id,
			user_id,
			create_time,
			modify_time
		)
		values
		(
			#{clueId,jdbcType=VARCHAR},
			#{userId,jdbcType=VARCHAR},
			current_timestamp(),
			current_timestamp()
		)
	</insert>

    <select id="listByUserId" parameterType="String" resultType="CluePersonal">
        select
        *
        from
        clue_personal
        where user_id=#{userId,jdbcType=VARCHAR}
        order by
        create_time DESC
    </select>
</mapper>