<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shengsu.any.user.mapper.UserMapper">
	<!-- Result Map-->
	<resultMap id="user_result_map" type="user">
	</resultMap>
    <insert id="save" parameterType="user">
		insert into
		user
		(
			user_id,
			user_name,
			real_name,
			icon_oss_resource_id,
			gender,
			id_card,
			tel,
			province_code,
			city_code,
			district_code,
			law_firm,
			lawyer_license_no,
			id_card_front_oss_resource_id,
			id_card_back_oss_resource_id,
			license_oss_resource_id,
			field,
			wechat_unionid,
			wechat_openid,
			create_time,
			modify_time
		)
		values
		(
			#{userId,jdbcType=VARCHAR},
			#{userName,jdbcType=VARCHAR},
			#{realName,jdbcType=VARCHAR},
			#{iconOssResourceId,jdbcType=VARCHAR},
            #{gender,jdbcType=VARCHAR},
            #{idCard,jdbcType=VARCHAR},
            #{tel,jdbcType=VARCHAR},
            #{provinceCode,jdbcType=VARCHAR},
            #{cityCode,jdbcType=VARCHAR},
            #{districtCode,jdbcType=VARCHAR},
            #{lawFirm,jdbcType=VARCHAR},
            #{lawyerLicenseNo,jdbcType=VARCHAR},
            #{idCardFrontOssResourceId,jdbcType=VARCHAR},
            #{idCardBackOssResourceId,jdbcType=VARCHAR},
            #{licenseOssResourceId,jdbcType=VARCHAR},
            #{field,jdbcType=VARCHAR},
			#{wechatUnionid,jdbcType=VARCHAR},
			#{wechatOpenid,jdbcType=VARCHAR},
			current_timestamp(),
			current_timestamp()
		)
	</insert>
    <select id="listByModel" parameterType="user" resultMap="user_result_map">
        select * from user
    </select>
    <select id="getUserByTel" parameterType="string" resultType="user">
        select * from user where tel=#{tel} and del_flag = 0 limit 1
    </select>
	<select id="selectByWeChatOpenid" parameterType="string" resultType="user">
		select * from user where wechat_openid = #{wechatOpenid} and del_flag = 0
	</select>
	<update id="bandWechat" parameterType="user">
		update user set wechat_unionid=#{wechatUnionid},wechat_openid=#{wechatOpenid} where tel=#{tel}
	</update>
</mapper>