<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shengsu.lawcase.mapper.LawcaseMapper">
	<resultMap id="lawcase_result_map" type="lawcase" >
    </resultMap>

    <select id="get" parameterType="string" resultMap="lawcase_result_map">
        select
          *
        from
          lawcase
        where
            case_id = #{caseId}
    </select>

    <select id="getInvestLawcaseList"  resultMap="lawcase_result_map">
        select
          *
        from
          lawcase
        where
          del_flag = 0 and
          filed = 0 and
          approve_status = 2
    </select>
</mapper>