<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shengsu.system.mapper.LawcaseDictionaryMapper">
	<resultMap id="lawcaseDictionary_result_map" type="lawcaseDictionary" >
    </resultMap>
    <!-- 查询条件 -->
    <sql id="lawcaseDictionary_where_clause">
        <where>
            del_flag=0
            <if test="dictName != null and  dictName != ''">and s.dict_name = #{dictName}</if>
            <if test="dictCode != null and dictCode != ''">and s.dict_code = #{dictCode}</if>
        </where>
    </sql>
    <select id="getManyByDictCodes" parameterType="java.util.List" resultMap="lawcaseDictionary_result_map">
        select
        *
        from
        system_dict
        where
        del_flag = 0 and
        dict_code in
        <foreach collection="list" item="dictCode" open="(" separator="," close=")">
            #{dictCode}
        </foreach>
        order by
        dict_code,
        display_value,
        modify_time desc
    </select>
    <!-- 判断字典是否存在 -->
    <select id="dictExistCheck" parameterType="lawcaseDictionary" resultType="int">
		select
			count(1)
		from
			system_dict
		where
			dict_code=#{dictCode} and
			display_value=#{displayValue}
	</select>
    <insert id="save" parameterType="lawcaseDictionary">
		insert into system_dict
		(
			dict_id,
			dict_code,
			dict_name,
			display_value,
			display_name,
			create_time,
			modify_time,
			creator,
			del_flag
		)
		values
		(
			#{dictId,jdbcType=VARCHAR},
			#{dictCode,jdbcType=VARCHAR},
			#{dictName,jdbcType=VARCHAR},
			#{displayValue,jdbcType=VARCHAR},
			#{displayName,jdbcType=VARCHAR},
			current_timestamp(),
			current_timestamp(),
			#{creator,jdbcType=VARCHAR},
			0
		)
	</insert>
    <!-- 判断字典是否存在 修改时可直接点击编辑 -->
    <select id="dictExistCheckExceptSelf" parameterType="lawcaseDictionary" resultType="int">
		select
			count(1)
		from
			system_dict
		where
			dict_code=#{dictCode} and
			display_value=#{displayValue} and
			<![CDATA[ dict_id <> #{dictId} ]]>
    </select>
    <update id="update" parameterType="lawcaseDictionary">
		update
			system_dict
		set
			dict_code=#{dictCode,jdbcType=VARCHAR},
			dict_name=#{dictName,jdbcType=VARCHAR},
			display_value=#{displayValue,jdbcType=VARCHAR},
			display_name=#{displayName,jdbcType=VARCHAR},
			modify_time = current_timestamp()
		where
			dict_id=#{dictId}
	</update>
    <delete id="batchDelete" parameterType="java.util.List">
        delete from
        system_dict
        where
        dict_id in
        <foreach collection="list" item="ids" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </delete>
    <select id="listByModel" parameterType="lawcaseDictionary" resultMap="lawcaseDictionary_result_map">
        select
        *
        from
        system_dict  s
        <include refid="lawcaseDictionary_where_clause" />
        order by
        dict_code,
        display_value,
        modify_time desc
    </select>
    <select id="getMany" parameterType="java.util.List" resultMap="lawcaseDictionary_result_map">
        select
        *
        from
        system_dict
        where
        del_flag = 0
        and
        dict_code in
        <foreach collection="list" item="dictCode" open="(" separator="," close=")">
            #{dictCode}
        </foreach>
        order by
        dict_code,
        display_value,
        modify_time desc
    </select>
    <!-- 获取所有 -->
    <select id="countAll" resultType="int">
        select
        count(1)
        from
        system_dict s
        <include refid="lawcaseDictionary_where_clause" />
    </select>
    <select id="listByPage" parameterType="lawcaseDictionary" resultMap="lawcaseDictionary_result_map">
        <include refid="global.paginationStart_mysql" />
        select
        *
        from
        system_dict  s
        <include refid="lawcaseDictionary_where_clause" />
        order by
        dict_code,
        display_value,
        modify_time desc
        <include refid="global.paginationEnd_mysql" />
    </select>
</mapper>