<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shengsu.log.mapper.LogBusinessMapper">
	<!-- Result Map-->
	<resultMap id="logBusiness_result_map" type="logBusiness">
	</resultMap>

	<!-- 查询条件 -->
	<sql id="logBusiness_where_clause">
		<where>
			<if test="startTime != null and startTime != ''">
				and b.operate_time >= #{startTime}
			</if>
			<if test="endTime!=null and endTime !='' ">
				and DATE_ADD(date_format(#{endTime,jdbcType=VARCHAR},"%Y-%m-%d %H:%i:%s"),interval 1 day) >=b.operate_time
			</if>
			<if test="operateType!=null and operateType !=''">
				and operate_type = #{operateType}
			</if>
			<if test="operator!=null and operator !=''">
				and operator like concat('%',#{operator},'%')
			</if>
			<if test="systemTag != null and  systemTag != ''"> and system_tag= #{systemTag}</if>
		</where>
	</sql>

	<!-- 获取所有操作日志记录数 -->
	<select id="countAll" resultType="int">
		select
		count(1)
		from
		system_log_business b
		<include refid="logBusiness_where_clause" />
	</select>

	<!-- 获取操作日志信息列表 -->
	<select id="listByPage" parameterType="logBusiness" resultMap="logBusiness_result_map">
		<include refid="global.paginationStart_mysql" />
		select
		b.*
		from
		system_log_business  b
		<include refid="logBusiness_where_clause" />
		order by
		operate_time desc
		<include refid="global.paginationEnd_mysql" />
	</select>

	<!-- 新增操作日志 -->
	<insert id="save" parameterType="logBusiness">
		insert into system_log_business
		(
			operate_type,
			operator_id,
			operator,
			module,
			operate_time,
			request_arg,
			request_ip,
			system_tag
		)
		values
		(
			#{operateType,jdbcType=VARCHAR},
			#{operatorId,jdbcType=VARCHAR},
			#{operator,jdbcType=INTEGER},
			#{module,jdbcType=CLOB},
			current_timestamp(),
			#{requestArg,jdbcType=VARCHAR},
			#{requestIp,jdbcType=VARCHAR},
			#{systemTag}
		)
	</insert>
</mapper>