<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shengsu.mapper.JpushSchedualRecordMapper">
    <insert id="save" parameterType="jpushSchedualRecord">
        INSERT INTO jpush_schedual_record
            (
                message_id,
                schedule_id,
                create_time,
                modify_time,
                del_flag
            )
            VALUES
            (
                #{messageId},
                #{scheduleId},
                current_timestamp(),
                current_timestamp(),
                0
            )
    </insert>
    <select id="selectByMsgId" parameterType="string" resultType="jpushSchedualRecord">
        SELECT
        *
        FROM
        jpush_schedual_record
        WHERE
        message_id=#{msgId} limit 1
    </select>
</mapper>